@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: IranSans;
    src: url("../fonts/Iranian Sans.ttf");
}
body {
    -webkit-tap-highlight-color: transparent !important;
    font-family: IranSans, sans-serif;
}